<section class="aboutblock" id="about-block">
  <div class="container">
    <div class="aboutblock-container">
      <p class="aboutblock-text">
        <span class="text-yacht-about">Yacht Adventures</span> fleet is here to
        take you on the ultimate adventure. Each yacht is hand-picked for its
        comfort, style, and performance.
      </p>
      <ul class="aboutblock-list list">
        <li class="aboutblock-list-text">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.
        </li>
        <li class="aboutblock-list-card">
          No matter which yacht you choose, our experienced crew will ensure
          that your journey is smooth and enjoyable. Book now and get ready for
          an unforgettable adventure on the high seas.
        </li>
      </ul>
    </div>
    <div class="aboutblock-img">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/about/img-desk-yaht.png   1x,
            ./img/about/img-desk-yaht2x.png 2x
          "
          type="image/png"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about/img-tab-yaht.png   1x,
            ./img/about/img-tab-yaht2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about/img-mob-yaht.png   1x,
            ./img/about/img-mob-yaht2x.png 2x
          "
          type="image/png"
        />
        <img
          class="aboutblock-card-img"
          src="./img/about/img-desk-yaht.png"
          alt="Yaсht"
          loading="lazy"
        />
      </picture>
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/about/img-desk-2-yaht.png   1x,
            ./img/about/img-desk-2-yaht2x.png 2x
          "
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about/img-tab-2-yaht.png   1x,
            ./img/about/img-tab-2-yaht2x.png 2x
          "
        />

        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about/img-mob-2-yaht.png   1x,
            ./img/about/img-mob-2-yaht2x.png 2x
          "
        />
        <img
          class="aboutblock-img-two"
          src="./img/about/img-mob-2-yaht.png"
          alt="Yacht"
          loading="lazy"
        />
      </picture>
      <div class="aboutblock-imges-three">
        <img
          class="aboutblock-img-three"
          width="260"
          src="./img/about/img-mob-3-yaht.png "
          alt="Yacht"
        />
      </div>
    </div>
  </div>
</section>
