<section class="aboutblock">
    <div class="container">
    <div  class="aboutblock-container">
    <p class="aboutblock-text"><span class="text-yacht-about">Yacht Adventures</span> fleet is here to take you on the ultimate adventure. Each yacht is hand-picked for its comfort, style, and performance.</p>
    <ul class=" aboutblock-list list">
        <li class=" aboutblock-list-text">From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect blend of luxury and functionality. Take a look at our selection below and choose the yacht that matches your needs and preferences.</li>
        <li class=" aboutblock-list-card">No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable. Book now and get ready for an unforgettable adventure on the high seas.</li>
    </ul>
    </div>
<div class="aboutblock-img">
    <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="./img/about/@1x-img1-desk.png 1x,
          ./img/about/@2x-img1-desk.png 2x"
          
          type="image/png"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="./img/about/@1x-img1-tab.png 1x,
          ./img/about/@2x-img1-tab.png 2x"
          type="image/png"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="./img/about/@1x-img1-mob.png 1x,
          ./img/about/@2x-img1-mob.png 2x"
          type="image/png"
        />
        <img
          class="aboutblock-card-img"
          src="./img/about/@1x-img1-desk.png"
          alt="Yaсht"
          loading="lazy"
        />
      </picture>
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="./img/about/@1x-img2-desk.png 1x,
          ./img/about/@2x-img2-desk.png 2x"

        />
        <!-- Tablet screen -->
         <source
         media="(min-width: 768px)"
         srcset="./img/about/@1x-img2-tab.png 1x,
         ./img/about/@2x-img2-tab.png 2x"
    
         />
        
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="./img/about/@1x-img2-mob.png 1x,
          ./img/about/@2x-img2-mob.png 2x"
    
        />
        <img
          class="aboutblock-img-two"
          src="./img/about/@1x-img2-mob.png"
          alt="Yacht"
        
          loading="lazy"
        />
      </picture>
      <div class="aboutblock-imges-three">
      <img class="aboutblock-img-three"
        width="260"
        srcset="./img/about/@2x-img3-desk.png 2x"
        src="./img/about/@1x-img3-desk.png"
        alt="Yacht"
      />
      </div>
      </div>
   </div>
  
</section>