<div class="container">
  <div class="hero-container">
    <div class="hero-describe-block">
      <h1 class="hero-title">
        Explore the High Seas with
        <span class="hero-accent-title">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-txt">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <ul class="hero-list-btn">
        <li class="hero-item-btn">
          <button class="hero-btn" type="button">Get Started</button>
        </li>
        <li class="hero-item-btn">
          <a class="hero-btn hero-btn-link" href="/servicesblock.html"
            >Explore</a
          >
        </li>
      </ul>
    </div>
    <div class="hero-picture-block">
      <div class="hero-blur"></div>
      <picture>
        <!-- Tablet screen -->

        <source
          media="(min-width: 768px)"
          srcset="./img/hero/mask-tab-1x.png 1x, ./img/hero/mask-tab-2x.png 2x"
          type="image/png"
        />
        <!-- Mobile screen -->

        <source
          media="(max-width: 767px)"
          srcset="./img/hero/mask-mob-1x.png 1x, ./img/hero/mask-mob-2x.png 2x"
          type="image/png"
        />
        <img
          class="card-img"
          src="./img/hero/mask-mob-1x.png"
          alt="Mask"
          2oading="lazy"
        />
      </picture>
      <ul class="hero-list-clients">
        <li class="hero-item-clients">
          <picture class="img-1">
            <!-- Tablet screen -->

            <source
              class="hero-clients-img"
              media="(min-width: 768px)"
              srcset="
                ./img/hero/clients/img-1-tab-1x.jpg 1x,
                ./img/hero/clients/img-1-tab-2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              class="hero-clients-img"
              media="(max-width: 767px)"
              srcset="
                ./img/hero/clients/img-1-mob-1x.jpg 1x,
                ./img/hero/clients/img-1-mob-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="hero-clients-img"
              src="./img/hero/clients/img-1-mob-1x.jpg"
              alt="clients"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-item-clients">
          <picture class="img-2">
            <!-- Tablet screen -->

            <source
              class="hero-clients-img"
              media="(min-width: 768px)"
              srcset="
                ./img/hero/clients/img-2-tab-1x.jpg 1x,
                ./img/hero/clients/img-2-tab-2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              class="hero-clients-img"
              media="(max-width: 767px)"
              srcset="
                ./img/hero/clients/img-2-mob-1x.jpg 1x,
                ./img/hero/clients/img-2-mob-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="hero-clients-img"
              src="./img/hero/clients/img-2-mob-1x.jpg"
              alt="clients"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-item-clients">
          <picture class="img-3">
            <!-- Tablet screen -->

            <source
              class="hero-clients-img"
              media="(min-width: 768px)"
              srcset="
                ./img/hero/clients/img-3-tab-1x.jpg 1x,
                ./img/hero/clients/img-3-tab-2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              class="hero-clients-img"
              media="(max-width: 767px)"
              srcset="
                ./img/hero/clients/img-3-mob-1x.jpg 1x,
                ./img/hero/clients/img-3-mob-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="hero-clients-img"
              src="./img/hero/clients/img-3-mob-1x.jpg"
              alt="clients"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
      <p class="hero-clients-txt">Our Clients</p>
      <picture>
        <!-- Tablet screen -->

        <source
          class="hero-ceo-img"
          media="(min-width: 768px)"
          srcset="./img/hero/ceo-tab-1x.jpg 1x, ./img/hero/ceo-tab-1x.jpg 2x"
          type="image/jpg"
        />
        <!-- Mobile screen -->

        <source
          class="hero-ceo-img"
          media="(max-width: 767px)"
          srcset="./img/hero/ceo-mob-1x.jpg 1x, ./img/hero/ceo-mob-2x.jpg 2x"
          type="image/jpg"
        />
        <img
          class="hero-ceo-img"
          src="./img/hero/ceo-mob-1x.jpg"
          alt="ceo"
          loading="lazy"
        />
      </picture>
      <picture>
        <!-- Tablet screen -->

        <source
          class="hero-yaht-img"
          media="(min-width: 768px)"
          srcset="./img/hero/yaht-tab-1x.png 1x, ./img/hero/yaht-tab-2x.png 2x"
          type="image/png"
        />
        <!-- Mobile screen -->

        <source
          class="hero-yaht-img"
          media="(max-width: 767px)"
          srcset="./img/hero/yaht-mob-1x.png 1x, ./img/hero/yaht-mob-2x.png 2x"
          type="image/png"
        />
        <img
          class="hero-yaht-img"
          src="./img/hero/yaht-mob-1x.png"
          alt="ceo"
          loading="lazy"
        />
      </picture>
      <ul class="picture-block-list">
        <li>
          <p class="picture-block-txt-1">$12M</p>
        </li>
        <li>
          <p class="picture-block-txt-2">
            Book now and make your dream yacht rental a reality
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
