<section id="servicesblock" class="services-block">
  <div class="services-box container">
    <h2 hidden class="services-about">services-about</h2>
    <ul class="list-services list">
      <li class="item-services">
        <div class="services-content">
          <img
            class="diving-img im-services"
            src="./img/services/img1-desk.webp"
            srcset="./img/services/img1-desk.webp"
            alt="diving"
            width="335"
            height="335"
          />
          <button type="button" class="btn-services">Diving</button>
        </div>
      </li>
      <li class="item-services">
        <div class="services-content">
          <img
            class="fishing-img im-services"
            src="./img/services/img2-desk.webp"
            srcset="./img/services/img2-desk.webp"
            alt="fishing"
            width="335"
            height="335"
          />
          <button type="button" class="btn-services">Fishing</button>
        </div>
      </li>
      <li class="item-services">
        <div class="services-content">
          <img
            class="sunbathing-img im-services"
            src="./img/services/img3-desk.webp"
            srcset="./img/services/img3-desk.webp"
            alt="sunbathing"
            width="335"
            height="335"
          />
          <button type="button" class="btn-services">Sunbathing</button>
        </div>
      </li>
    </ul>
  </div>
</section>
