.header-menu-list {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--color-light-green);
}

.heder-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-logo-icon {
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
}

.header-menu-list {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-menu-item {
}
.header-menu-link {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 35px;
}
/* Mobail menu */

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle-icon {
  background-color: red;
  fill: #f6f5ef;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 164px;
  padding-bottom: 521px;
  padding-left: 156px;
  padding-right: 155px;

  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}
.menu-mobile-icon-close {
  background-color: red;
  fill: #f6f5ef;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.mobile-menu-link {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header-menu-list {
    display: flex;
  }
  .header-logo-link {
    margin-right: 271px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo-link {
    margin-right: 783px;
  }
}
