/* .header-menu-list {
  display: none;
} */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--color-light-green);
}

.heder-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-logo-icon {
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
}

.header-menu-list {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-menu-item {
}
.header-menu-link {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 35px;
}

.header-menu-link:hover {
  color: var(--hero-clients-circles-border);
}
.header-menu-link:focus {
  color: var(--hero-clients-circles-border);
}

/* Mobail menu */
.mobail-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--color-light-green);
  position: relative;
}

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle-icon {
  stroke: #f6f5ef;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 0px;
  color: #fff;
}
.menu-mobile-icon-close {
  stroke: #f6f5ef;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding-top: 140px;
}

.mobile-menu-link {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.mobile-menu-link:hover {
  color: var(--hero-clients-circles-border);
}
.mobile-menu-link:focus {
  color: var(--hero-clients-circles-border);
}

@media screen and (min-width: 768px) {
  .header-menu-list {
    display: flex;
  }
  .header-logo-link {
    margin-right: 271px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo-link {
    margin-right: 783px;
  }
}
.mobail-container-blur {
  position: absolute;
  width: 279px;
  height: 279px;
  transform: rotate(-44.916deg);
  flex-shrink: 0;
  border-radius: 279px;
  opacity: 0.8999999761581421;
  background: #939cac;
  filter: blur(100px);
  bottom: -5%;
  right: 65%;
  z-index: 0;
}
.mobail-container-blur-two {
  position: absolute;
  width: 279px;
  height: 279px;
  transform: rotate(-44.916deg);
  flex-shrink: 0;
  border-radius: 279px;
  opacity: 0.8999999761581421;
  background: #939cac;
  filter: blur(100px);
  bottom: -20%;
  right: -10%;
  z-index: 0;
}
