/**
  |============================
  | rentblock
  |============================
*/

.rent-section {
    background-color: var(--background-color);
    padding-top: 82px;
    padding-bottom: 82px;
}



.rent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    gap: 40px;

}

@media only screen and (min-width:768px) {
    .rent-container {
        max-width: 1280px;
        padding: 0 32px;
        gap: 69px;
        flex-direction: row
    }
}

@media only screen and (min-width:1280px) {
    .rent-container {
        padding: 0 183px;
        gap: 188px;
    }
}

.ellipse-modal {
    position: absolute;
    right: 0;
    top: 10%;

}

.rent-title {
    max-width: 282px;
    color: var(--text-color);
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    margin-bottom: 64px;
}

@media only screen and (min-width:768px) {
    .rent-title {
        font-size: 60px;
    }

    .rent-yaht {
        width: 282px;
        height: 191px;
    }
}

/**
  |============================
  | form window
  |============================
*/

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 28px;
    width: 335px;
}

.modal-form-label {
    color: var(--text-color);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.72px;
    width: 100%;
    border-block-end: 1px solid var(--text-color);
    background-color: var(--background-color);
    transition: color 0.25s ease 0.25s;
}

@media only screen and (min-width:768px) {
    .modal-form-label {
        font-size: 16px;
    }
}

.modal-form-input {
    padding: 0;
    width: 335px;
    height: 16px;
    border: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 16px;
}

.modal-form-comment {
    display: block;
    width: 335px;
    height: 58px;
    background-color: var(--background-color);
    border: 0;
    resize: none;
    color: var(--text-color);
    font-size: 16px;
}

.form-btn {
    border-radius: 60px;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 14px 28px;
    margin-top: 24px;
    max-width: 137px;

    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.81px;
}

@media only screen and (min-width:768px) {
    .modal-form {
        width: 364px;
    }

    .modal-form-input {
        width: 364px;
    }

    .modal-form-comment {
        width: 364px;
    }

    .form-btn {
        font-size: 18px;
        margin-top: 36px;
    }
}

@media only screen and (min-width:1280px) {
    .modal-form {
        width: 443px;
    }

    .modal-form-input {
        width: 443px;
    }

    .modal-form-comment {
        width: 443px;
    }
}

.form-btn:hover {
    border: 1px solid var(--button-light-background);
    color: var(--button-light-background);
}

.arrow-svg {
    margin-left: 16px;
    fill: var(--text-color);
}