.services-content {
  position: relative;
}

.im-services {
  border-radius: 40px;
  background: linear-gradient(
    0deg,
    rgba(17, 19, 31, 0.2) 0%,
    rgba(17, 19, 31, 0.2) 100%
  );
}
.list-services {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.fishing-img {
  box-sizing: border-box;
}
.item-services {
  position: relative;
}
.btn-services {
  font-size: 14px;
  color: var(--background-color);
  line-height: 1.1;
  letter-spacing: -0.045em;
  font-weight: 700;
  position: absolute;
  padding: 14px 28px;
  border-radius: 60px;
  border-style: none;
  z-index: 1;
  left: 24px;
  bottom: 24px;
}
@media (max-width: 768px) {
  .list-services {
    align-items: center;
  }
}
@media (min-width: 768px) {
  .list-services {
    gap: 32px;
  }
  .diving-img {
    width: 704px;
  }
  .fishing-img {
    width: 400px;
  }
  .sunbathing-img {
    width: 380px;
  }
  .item-services:nth-child(2) {
    align-self: flex-end;
  }
  .item-services:last-child {
    padding-left: 32px;
    align-self: flex-start;
  }
  .btn-services {
    left: 32px;
  }
}
@media (min-width: 1280px) {
  .list-services {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
  }
  .diving-img {
    width: 712px;
  }
  .fishing-img {
    width: 440px;
  }
  .sunbathing-img {
    width: 436px;
  }
  .item-services:last-child {
    padding-left: 372px;
  }
}
