/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
:root {
  --color-dark-blue: #11131f;
  --color-light-green: #93abae;
  --color-linear-green: linear-gradient(to bottom, #bec7c2 0%, #a1b5ba 100%);
  --color-white: #f6f5ef;
  --color-blue-2: #1f212d;
}

@import url('./reset.css');

@import url('./header.css');

@import url('./hero.css');

@import url('./aboutblock.css');

@import url('./yahtsblock.css');

@import url('./servicesblock.css');

@import url('./rentblock.css');

@import url('./reviewsblock.css');

@import url('./footer.css');

@import url('./modal.css');
