/*slider*/
.slider-container {
  position: relative;

  height: 529px;
  margin: 0 auto;
  padding: 0;
}

.swiper {
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
  width: 46px;
  height: 36px;
  border: 1px solid var(--text-color);
  border-radius: 60px;
  padding: 14px;
  fill: var(--text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-prev {
  top: 101%;
  left: calc(50% - 60px);
  transform: translateY(-55%);
  background-color: transparent;
}
.swiper-button-next {
  top: 101%;
  right: calc(50% - 60px);
  transform: translateY(-55%);
  background-color: transparent;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  display: none;
}

.prev-icon,
.next-icon {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slider-container {
  /*position: relative;*/

  height: 529px;
  margin: 0 auto;
  padding: 0;
}

.swiper-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 335px;
  height: 469px;
}

.swiper {
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
  width: 46px;
  height: 36px;
  border: 1px solid var(--text-color);
  border-radius: 60px;
  padding: 14px;
  fill: var(--text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-prev {
  top: 101%;
  left: calc(50% - 60px);
  transform: translateY(-55%);
}
.swiper-button-next {
  top: 101%;
  right: calc(50% - 60px);
  transform: translateY(-55%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  display: none;
}

.prev-icon,
.next-icon {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-slide .swiper-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 24px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 18px 18px 24px;

  border-radius: 29px;
  color: var(--text-color);
  background-color: var(--yachtblock-cards-background-);
}
/*.swiper-slide {
  width: 344px;
}*/

.swiper-slide .swiper-card img {
  border-radius: 29px;
}

.card-title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-data {
  display: flex;
  gap: 32px;
}

.card-info {
  width: max-content;
}
.parametrs,
.info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 6px;
}

.card-info,
.card-parametr {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
}

.title-name {
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.title-type {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  text-align: right;
}
/*my styles*/
.yachts-block {
  /*position: relative;*/
  box-sizing: border-box;
}
.div_yachts-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
}
.h_yachts-block {
  color: var(--text-color);
  font-family: DM Sans;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
  max-width: 310px;
  margin-bottom: 40px;
}
.yacht-block__link {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.81px;
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--text-color);
}
/*.title_yachts-block::after {
  content: '';
  position: absolute;
  width: 195px;
  height: 195px;
  opacity: 0.3;
  background: var(--background-gradient-circles-small);
  filter: blur(100px);
  z-index: -6;
}*/
.title_yachts-block::before {
  content: '';
  position: absolute;
  top: -20%;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  opacity: 0.6;
  background: var(--background-gradient-circles);
  filter: blur(100px);
  z-index: -6;
}
.swiper-container {
  padding: 0;
}
.card-title,
.card-data {
  padding: 0 6px;
}

.swiper-card img {
  width: 299px;
  height: 251px;
}
/*.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  color: var(--button-light-background);
  fill: var(--button-light-background);
  border-color: var(--linear-green);
}*/
.swiper-button-prev,
.swiper-button-next {
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  position: absolute;
  width: 46px;
  height: 36px;
  border: 1px solid var(--text-color);
  border-radius: 60px;
  padding: 14px;
  fill: var(--text-color);
  top: 101%;
  right: calc(50% - 60px);
  transform: translateY(-55%);
}
@media only screen and (min-width: 768px) {
  .div_yachts-block {
    gap: 100px;
  }
  .h_yachts-block {
    font-size: 70px;
    letter-spacing: -3.15px;
    max-width: 641px;
    margin-bottom: 64px;
  }
  /*.title_yachts-block::after {
    width: 316px;
    height: 316px;
    top: 0;
    left: 60%;
  }*/
  .title_yachts-block::before {
    width: 316px;
    height: 316px;
    top: -25%;
    left: 10%;
  }
  .slider-container {
    width: 704px;
    height: 576px;
    margin: 0 auto;
  }

  .swiper-container {
    margin: 0;
    width: 704px;
    padding: 0;
  }

  .swiper-slide .swiper-card {
    padding: 16px 16px 32px;
    gap: 32px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 36px;
    border: 1px solid var(--text-color);
    border-radius: 60px;
    padding: 14px;
    fill: var(--text-color);
  }

  .swiper-button-prev {
    transform: translateY(-50%);
  }
  .swiper-button-next {
    transform: translateY(-50%);
  }
  .swiper-card {
    padding: 16px 16px 32px;
    gap: 32px;
  }

  .swiper-card img {
    width: 312px;
    height: 268px;
  }

  .card-title,
  .card-data {
    width: 100%;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .div_yachts-block {
    gap: 164px;
  }
  .h_yachts-block {
    width: 882px;
    letter-spacing: -4.5px;
  }
  .slider-container {
    width: 1216px;
    margin: 0 auto;
    height: 508px;
  }
  /*.swiper-slide {
    width: 344px;
  }*/
  .bg_yachts-block {
    position: absolute;
    opacity: 0.2;
    width: 1182px;
    height: 1611.22px;
    transform: rotate(90deg) translate(-30px, -150px);
    background-image: url('../../img/yachts-block/background/bg-lines-zero-degrees.webp');
    background-repeat: no-repeat;
    background-position: 50% 0;
    z-index: -2;
  }
  .title_yachts-block::before {
    width: 414px;
    height: 414px;
    top: -15%;
    left: 20%;
  }
  .swiper-container {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
  }
  .slide-card {
    justify-content: center;
  }

  .swiper-card {
    padding: 16px 16px 32px;
    gap: 32px;
  }

  .swiper-card img {
    width: 322px;
    height: 268px;
  }

  .card-title,
  .card-data {
    width: 100%;
    padding: 0 16px;
  }

  .card-info,
  .card-parametr {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.42px;
  }

  .swiper-button-prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 46px;
    height: 36px;
    border: 1px solid var(--text-color);
    border-radius: 60px;
    padding: 14px;
    fill: var(--text-color);
  }
  .swiper-button-next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 46px;
    height: 36px;
    border: 1px solid var(--text-color);
    border-radius: 60px;
    padding: 14px;
    fill: var(--text-color);
  }
}
